/*GENERAL STYLING*/
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: rgb(75 75 75);
    background-color: black;
    font-family: 'Roboto', sans-serif;

    font-size: 18px;
}

h1 {
    font-size: 30px;
}
h2 {
    font-size: 25px;
}
h3 {
    font-size: 24px;
    font-weight: bold;
}

.large-title > h1 {
    font-size: 50px;
}

/*Makes sure all the links throughout the entire document have the same color as the surrounding text*/
a, a:visited, a:active, a:hover {
    color: inherit;
}

/*TODO: Need to figure out how to do this without using !important*/
@media screen and (max-width: 900px) {
    body {
        font-size: 14px;
    }

    .large-title > h1 {
        font-size: 30px;
    }
}

/*HEADER & NAV STYLING*/
header {
    font-size: 25px;

    background-color: whitesmoke;
    box-shadow: 0px 0px 30px black;
    color: rgb(75 75 75);
    width: 100%;
    height: auto;
    top: 0;
    position: fixed;
    z-index: 999;
}

header nav {
    padding-bottom: 0;
    margin: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

header nav a {
    text-decoration: none;
    margin: 0 20px;
}

header nav a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 900px) {
    header {
        font-size: 14px !important;
    }

    nav a {
        margin: 0 2px !important;
    }
    a.currentpage {
        padding: 20px 4px !important;
    }
}

/*Highlights the page you are currently on in the header.*/
header a.currentpage {
    color: whitesmoke;
    background-color: black;
    padding: 15px 10px;
    margin: 0;
}

/*FOOTER STYLING*/
footer{
    box-shadow: 0px 0px 30px black;
}
footer .flex-container {
    background-color: black;
    color: whitesmoke;
    margin: 0;
    padding: 40px;
    display: flex;

    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}

footer a:link {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.footer-column {
    width: 20%;
}

@media screen and (max-width: 1280px) {
    .footer-column {
        width: 50%;
    }
}

@media screen and (max-width: 900px) {
    .footer-column {
        width: 100%;
    }
}

/*LETTERMARK STYLING*/
a.lettermark {
    text-decoration: none;
    font-weight: bold;
}

header a.lettermark {
    color: black;
}

footer a.lettermark {
    color: whitesmoke;
}

.lettermark:hover {
    text-decoration: none;
}

/*MAIN & SECTION STYLING*/
main {
    margin-top: 30px;
    text-align: center;
}

section:nth-child(2n) {
    background-color: rgb(240 240 240);
}

section {
    color:rgb(75 75 75);
    text-align: inherit;
    background-color: whitesmoke;
    padding: 50px 30px;
    border-bottom-style: solid;
    border-color: lightgrey;
    border-width: 2px;
    box-shadow: 0 0 2px 2px lightgrey;
}

section > img {
    width: 50%;
}

@media screen and (max-width: 900px) {
    main {
        margin-top: 65.5px !important;
    }
}

/*WALLPAPER STYLING*/
.wallpaper {
    color: whitesmoke;
    background-color: rgb(200 200 200);
    background-repeat: no-repeat; background-size: cover;
    background-blend-mode: multiply;
    background-position: center;
    padding: 0 12%;
    width: 100%;
    height: 300px;
    max-height: 300px;
    box-sizing: border-box;
    border-style: none;
    border-radius: 0;
    box-shadow: none;
}

.wallpaper-text {
    padding: 70px 0;
    text-shadow: 0 0 6px black;
}

/*GO-TO-TOP BUTTON*/
#go-to-top {
    position: fixed;
    bottom: 0px;
    right: 8px;
    width: 40px;
    height: 40px;
    background-color: whitesmoke;
    border-radius: 10px 10px 0px 0px;
    border-color: lightgrey;
    border-style: solid;
    border-width: 2px;
    box-shadow: 0px 0px 5px grey;
    cursor: pointer;
    z-index: 99;
}

@media screen and (max-width: 900px) {
    #go-to-top {
        right: 6px;
        width: 30px;
        height: 30px;
    }
}

/*UTILITY*/
.bg-whitesmoke {
    background-color: whitesmoke !important;
}
.nodeco {
    text-decoration: none;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.text-align-center{
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.image-desc {
    font-style: italic;
    text-align: center;
}
